# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized

Some of the popular languages that Data Science use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientist include
1. PyTorch 
2. TensorFlow
3. Pandas

|Title|Data Science Tools|
|---|---|
|1|Kubeflow|
|2|Apache Kafka|
|3|Apache Nifi|
|4|Postgre SQL|
|5|Kibana|
|6|Mleap|

### Below are a few example of evaluating arithmetic expression in Python

In [1]:
2 + 2

4

In [2]:
9 * 8 * (8 - 4 + 9)

936

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# this will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

__Objective:__
<div style='text-align: center;'>
List Popular Language of Data Science
</div>
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL (Structured Query Language)</li>
  <li>Ruby</li>
  <li>Julia</li>
</ul>

## Author
- **Ali Abdullah**
<br>
<a href="https://linkedin.com/in/imaliabdullah">My Linkedin</a>